<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header') %>
      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar') %>
        <% } %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/mobile-nav') %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>