<% if (theme.twitter.username){ %>
<div class="widget twitter">
  <h3 class="title"><%= __('tweets') %></h3>
  <ul id="tweets"></ul>
</div>

<script type="text/javascript">
var twitter_stream = ['<%= theme.twitter.username %>', <%= theme.twitter.tweet_count %>, <%= theme.twitter.show_replies %>];
var moment_js_path = '<%- config.root %>js/moment.min.js';
</script>
<script src="<%- config.root %>js/twitter.js"></script>
<% } %>
