<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title><%= config.title %> - <% if (page.title){ %><%= page.title %><% } %></title>
  <meta name="description" content="<%= config.description %>">
  <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <%- partial('google-analytics') %>
</head>