<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> <%= subtitle %> | Hexo</title>
    <link rel="stylesheet" href="<%- base %>css/error.css">
  </head>
  <body>
    <div id="content">
      <h1 id="error-title"><%= title %></h1>
      <h2 id="error-subtitle"><%= subtitle %></h2>
      <%- body %>
    </div>
  </body>
</html>